.deleteButton {
  border-style: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
}
.todoItem {
  user-select: none;
  display: flex;
  margin: auto;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
p {
  width: fit-content;
  margin-left: 10%;
  text-align: start;
  cursor: pointer;
}
.textArea {
  width: 90%;
}
.buttonArea {
  text-align: center;
  margin: auto;
  width: 10%;
}
